<%- include('partials/html-start.ejs') %>
<form method="post" >
    <div class="row">
      <div class="col-sm-4">
        <div class="card bg-dark m-3" style="color:white;">
          <h4 class="card-title" style="text-align: center;">Name and Password</h4>
            <div class="card-body">
              <label for="name">Name: </label>
              <input type="text" id="name" name="name" placeholder="<%= members[1].name %>"><br><br>
              <label for="userName">Username: </label>
              <input type="text" id="userName" name="userName" placeholder="<%= members[1].userName %>"><br><br>
              <label type="password">Password: </label>
              <input type="password" id="password" name="password" placeholder="<%= members[1].password %>"><br><br>
            </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card bg-dark m-3" style="color:white;">
          <h4 class="card-title" style="text-align: center;">Personal Information</h4>
            <div class="card-body">
              <label for="email">Email: </label>
              <input type="email" id="email" name="email" placeholder="<%= members[1].email %>"><br><br>
              <label for="address">Address:</label>
              <input type="address" id="address" name="address" placeholder="<%= members[1].address %>"><br><br>
            </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="card bg-dark m-4" style="color:white;">
          <h4 class="card-title" style="text-align: center;">Membership Option</h4>
            <div class="card-body">
              <input type="radio" id="month1" name="membership" value="1 Month">
              <label for="membership">1 Month</label><br><br>
              <input type="radio" id="month3" name="membership" value="3 Months">
              <label for="membership">3 Months</label><br><br>
              <input type="radio" id="month6" name="membership" value="6 Months">
              <label for="membership">6 Months</label><br><br>
              <input type="radio" id="year1" name="membership" value="1 Year">
              <label for="membership">1 Year</label><br><br>
              <p>Type</p>
              <input type="radio" id="s-f1" name="single-family" value="single">
              <label for="single-family">Single</label><br><br>
              <input type="radio" id="s-f2" name="single-family" value="family">
              <label for="single-family">Family</label><br>
            </div>
          </div>
      </div>
    </div>
  <button type="submit" class="btn btn-outline-primary" formaction="/updateMember">Save Account</button>
  <!-- <button type="submit" class="btn btn-outline-danger" formaction="/deleteMember">Delete Account</button> -->
</form>


<h1><%= name %>'s Payment History</h1>
    <%- include('partials/html-end.ejs') %>