<%- include('partials/html-start.ejs') %>
<form method="post" action="/updateMember" >
    <div class="row">
      <div class="col-sm-4">
        <div id="account" class="card bg-dark m-3" style="color:white;">
          <h4 class="card-title" style="text-align: center;">Name and Password</h4>
            <div class="card-body">
              <input type="hidden" id="id" name="id" value="<%= name._id %>"></input>
              <label for="name">Name: </label>
              <input type="text" id="name" name="name" placeholder="<%= name.name %>"><br><br>
              <label for="userName">Username: </label>
              <input type="text" id="userName" name="userName" placeholder="<%= name.userName %>"><br><br>
              <label type="password">Password: </label>
              <input type="password" id="password" name="password" placeholder="New Password"><br><br>
              <label type="password">Confirm Password: </label>
              <input type="password" id="password2" name="password2" placeholder="Confirm Password"><br><br>
            </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div id="account" class="card bg-dark m-3" style="color:white;">
          <h4 class="card-title" style="text-align: center;">Personal Information</h4>
            <div class="card-body">
              <label for="email">Email: </label>
              <input type="email" id="email" name="email" placeholder="<%= name.email %>"><br><br>
              <label for="address">Address:</label>
              <input type="address" id="address" name="address" placeholder="<%= name.address %>"><br><br>
            </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div id="account" class="card bg-dark m-4" style="color:white;">
          <h4 class="card-title" style="text-align: center;">Membership Option</h4>
            <div class="card-body">
              <input type="radio" id="membership" name="membership" value="1 Month">
              <label for="membership">1 Month</label><br><br>
              <input type="radio" id="membership" name="membership" value="3 Months">
              <label for="membership">3 Months</label><br><br>
              <input type="radio" id="membership" name="membership" value="6 Months">
              <label for="membership">6 Months</label><br><br>
              <input type="radio" id="membership" name="membership" value="1 Year">
              <label for="membership">1 Year</label><br><br>
              <p>Type</p>
              <input type="radio" id="type" name="type" value="Single">
              <label for="type">Single</label><br><br>
              <input type="radio" id="type" name="type" value="Family">
              <label for="type">Family</label><br>
            </div>
          </div>
      </div>
    </div>
  <button type="submit" class="btn btn-outline-primary">Save Account</button>
  <button type="submit" class="btn btn-outline-danger" formaction="/deleteMember">Delete Account</button>
  <button type="submit" class="btn btn-outline-warning" formaction="/logout">Logout</button>
</form>
    <%- include('partials/html-end.ejs') %>