<%- include('partials/html-start.ejs') %>

<table class="styled-table">
<thead>
    <tr>
        <th>Class</th>
        <th>Day</th>
        <th>Time</th>
        <th>Instructor</th>
    </tr>
</thead>
<tbody>
    <% for (var i=0; i< schedule.length; i++) { %>
        <tr>
            <td><%= schedule[i].class %></td>
            <td><%= schedule[i].day %></td>
            <td><%= schedule[i].startTime %> - <%= schedule[i].endTime %></td>
            <td><%= schedule[i].instructor %></td>
        </tr>
    <% } %>
</tbody>
</table>

<br>
<br>
<%- include('partials/html-end.ejs') %>